<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appfitnessapp.app.fitnessapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Login.SplashPantalla">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.IniciarSesion" />
        <activity
            android:name=".Login.Registro"
            android:parentActivityName=".Login.IniciarSesion" />
        <activity android:name=".Usuario.UsuarioHome" />

        <activity android:name=".viewPdf"></activity>

        <activity android:name=".Usuario.UsuarioPerfil">

        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
        </intent-filter>
        </activity>

        <activity android:name=".Usuario.UsuarioChat" />
        <activity android:name=".Usuario.PantallaPDF"
            android:parentActivityName=".Usuario.UsuarioHome" />
        <activity android:name=".Usuario.Imagen" />
        <activity android:name=".Usuario.Video"
                android:theme="@style/TemaVideo" />


        <activity android:name=".Usuario.ChatActivityUsuario"></activity>

        <activity android:name=".Usuario.Asesoria"/>
        <activity android:name=".Usuario.FeedSinRegistro.HomeSinRegistro" />
        <activity android:name=".Usuario.Paypal.PaymentDetails" />
        <activity android:name=".Usuario.Tarjeta" />
        <activity android:name=".Usuario.MetodoPago" />
        <activity android:name=".Usuario.Calificar"
            android:parentActivityName=".Usuario.UsuarioPerfil"></activity>
        <activity android:name=".Usuario.DatosUsuario"></activity>
        <activity android:name=".Usuario.DetallePdf"></activity>
        <activity android:name=".Usuario.DetalleRecetas"
            android:parentActivityName=".Usuario.UsuarioPlan"
            ></activity>
        <activity android:name=".Usuario.EditarPerfil"
            android:parentActivityName=".Usuario.UsuarioPerfil"></activity>
        <activity android:name=".Usuario.InformacionCompra"
            android:parentActivityName=".Usuario.DetalleRecetas"></activity>
        <activity android:name=".Usuario.RutinaUsuario"
            android:parentActivityName=".Usuario.UsuarioPlanWorkouts"></activity>
        <activity android:name=".Usuario.TipoPlanes"></activity>
        <activity android:name=".Usuario.UsuarioPlan"></activity>
        <activity android:name=".Usuario.UsuarioPlanWorkouts"></activity>
        <activity android:name=".Usuario.CambiarCorreo"
            android:parentActivityName=".Usuario.EditarPerfil"></activity>
        <activity android:name=".Usuario.CambiarContrasena"
            android:parentActivityName=".Usuario.EditarPerfil"></activity>




        <activity android:name=".Admin.AdminPerfil"
            android:parentActivityName=".Admin.AsesoriasAdmin"></activity>
        <activity android:name=".Admin.AdminPlanUsuario"
            android:parentActivityName=".Admin.PerfilUsuarioAdmin"></activity>
        <activity android:name=".Admin.AdminRecetaDetalle"
            android:parentActivityName=".Admin.AdminPlanUsuario"></activity>
        <activity android:name=".Admin.AsesoriasPendientes"></activity>
        <activity android:name=".Admin.EscogerPlan"
            android:parentActivityName=".Admin.SolicitudAsesoria"></activity>
        <activity android:name=".Admin.PerfilUsuarioAdmin"></activity>
        <activity android:name=".Admin.RecetasEditar"
            android:parentActivityName=".Admin.SolicitudAsesoria"></activity>
        <activity android:name=".Admin.SolicitudAsesoria"
            android:parentActivityName=".Admin.AsesoriasPendientes"></activity>

    </application>

</manifest>