<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appfitnessapp.app.fitnessapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_app_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Login.SplashPantalla"
            android:theme="@style/YourTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.IniciarSesion"
            android:theme="@style/YourTheme" />
        <activity
            android:name=".Login.Registro"
            android:theme="@style/YourTheme"/>
        <activity
            android:name=".Usuario.UsuarioHome"
            android:theme="@style/YourTheme"
            android:screenOrientation="portrait" />

        <activity android:name=".viewPdf" />
        <activity
            android:name=".Usuario.UsuarioPerfil"
            android:theme="@style/YourTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Usuario.UsuarioChat"
            android:screenOrientation="portrait" />
        <activity android:name=".Usuario.PantallaPDF" />
        <activity android:name=".Usuario.Imagen" />
        <activity
            android:name=".Usuario.Video"
            android:theme="@style/TemaVideo" />
        <activity android:name=".Usuario.ChatActivityUsuario" />
        <activity
            android:name=".Usuario.FeedSinRegistro.Asesoria"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Usuario.FeedSinRegistro.HomeSinRegistro"
            android:screenOrientation="portrait" />
        <activity android:name=".Usuario.Paypal.PaymentDetails" />
        <activity android:name=".Usuario.Paypal.PaymentPdf"></activity>
        <activity
            android:name=".Usuario.Tarjeta"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Usuario.MetodoPago"
            android:theme="@style/YourTheme"
            android:parentActivityName=".Usuario.TipoPlanes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Usuario.Calificar"
            android:parentActivityName=".Usuario.UsuarioPerfil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Usuario.DatosUsuario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Usuario.DetallePdf"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Usuario.DetalleRecetas"
            android:parentActivityName=".Usuario.UsuarioPlan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Usuario.EditarPerfil"
            android:theme="@style/YourTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Usuario.InformacionCompra"
            android:parentActivityName=".Usuario.DetalleRecetas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Usuario.RutinaUsuario"
            android:parentActivityName=".Usuario.UsuarioPlanWorkouts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Usuario.TipoPlanes"
            android:theme="@style/YourTheme"
            android:parentActivityName=".Usuario.MenuRegistro.AsesoriaRegistro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Usuario.UsuarioPlan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Usuario.UsuarioPlanWorkouts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Usuario.CambiarCorreo"
            android:parentActivityName=".Usuario.EditarPerfil" />
        <activity
            android:name=".Usuario.CambiarContrasena"
            android:parentActivityName=".Usuario.EditarPerfil" />
        <activity
            android:name=".Usuario.Formulario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoplayer.VideoPlayer"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/TemaVideo" /> <!-- android:screenOrientation="landscape"> -->

        <activity android:name=".Usuario.MenuRegistro.Home"
            android:theme="@style/YourTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".Usuario.MenuRegistro.AsesoriaRegistro"
            android:theme="@style/YourTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".Usuario.MenuRegistro.Perfil"
            android:theme="@style/YourTheme"
            android:screenOrientation="portrait"/>

        <activity android:name=".Usuario.ChatFragmentUsuario"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Usuario.MetodoPagoPdf"
            android:screenOrientation="portrait" />

        <activity android:name=".Usuario.ListaComprado"
            android:screenOrientation="portrait" />



        <activity
            android:name=".Admin.AsesoriasAdmin"
            android:theme="@style/YourTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.AdminPerfil"
            android:theme="@style/YourTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.AdminPlanUsuario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.AdminRecetaDetalle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.AsesoriasPendientes"
            android:theme="@style/YourTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.EscogerPlan"
            android:parentActivityName=".Admin.SolicitudAsesoria"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.PerfilUsuarioAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.AgregarRecetas"
            android:parentActivityName=".Admin.SolicitudAsesoria"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.SolicitudAsesoria"
            android:parentActivityName=".Admin.AsesoriasPendientes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.EditarPerfilAdmin"
            android:theme="@style/YourTheme"
            android:parentActivityName=".Admin.AdminPerfil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.AgregarEjercicios"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.AdminWorkouts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.AgregarIngredientes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin.AgregarPasos"
            android:screenOrientation="portrait" />
        <activity android:name=".Compra.Compra" />

        <activity android:name=".Admin.AgregarVideo"
            android:screenOrientation="portrait" />
        <activity android:name=".Admin.AgregarPdf"
            android:screenOrientation="portrait"/>
        <activity android:name=".Admin.AgregarImagen"
            android:screenOrientation="portrait"/>
        <activity android:name=".Admin.AdminAgregarFeed"
            android:screenOrientation="portrait"/>
        <activity android:name=".Admin.EditarRecetaU"
            android:screenOrientation="portrait"/>
        <activity android:name=".Admin.EditarIngredientes"
            android:screenOrientation="portrait"/>
        <activity android:name=".Admin.EditarPasos"
            android:screenOrientation="portrait"/>
        <activity android:name=".Admin.AdminPasosUsuario"
            android:screenOrientation="portrait"/>
        <activity android:name=".Admin.AdminIngredientesUsuario"
            android:screenOrientation="portrait"/>
        <activity android:name=".Admin.EjerciciosLista"
            android:screenOrientation="portrait" />

        <activity android:name=".Admin.ChatFragmentAdmin"
            android:screenOrientation="portrait" />
        <activity android:name=".Admin.ChatActivityAdmin"
            android:screenOrientation="portrait" />
        <activity android:name=".Admin.ListaChat"
            android:screenOrientation="portrait" />

        <activity android:name=".Admin.FormularioUsuario"
            android:screenOrientation="portrait" />

        <activity android:name=".Admin.FormularioLista"
            android:screenOrientation="portrait" />
        <activity android:name=".Admin.AgregarPregunta"
            android:screenOrientation="portrait" />
        <activity android:name=".Admin.EditarPregunta"
            android:screenOrientation="portrait" />
        

        <service android:name=".Notificaciones.FirebaseInstanceService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>

            </intent-filter>

        </service>

    </application>

</manifest>